<h1>ItemGroups#index</h1>
<p>
  <% Array(@item_groups).each do |item_group| %>
    <%= "item_group.id: #{item_group.id}" %>
  <% end %>
</p>
<p>
  <%= "latest_product.id: #{@latest_product.id}" %>
  <%= "latest_product.estimate_sale_start: #{@latest_product.estimate_sale_start}" %>
</p>
<p>Find me in app/views/item_groups/index.html.erb</p>
